
I use yarn
I'm using  nextjs / graphql yoga / tailwind / prefer ssr / app router
we use zustand for state management

prefer omitting semicolons in js where it won't change meaning

params should be awaited before using its properties. Learn more: https://nextjs.org/docs/messages/sync-dynamic-apis

