@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

body:before {
  content: '';
  background-image: url('/space3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.7) contrast(1.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;

  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.7) contrast(1.2);
}

:root {
  --link-color: rgb(121, 179, 250);
  --border-color: #273d58;
}

.link-color {
  color: var(--link-color);
}

.panel-bg {
  background-color: #1e2b3f;
}

.input-bg {
  background-color: #273d58;
}

.panel-border {
  border-color: var(--border-color);
}

.brighter-border {
  border: 1px solid var(--border-color);
}

/* Dark scrollbar styles */
* {
  scrollbar-width: normal;
  scrollbar-color: #4b5563 #1f2937;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 5px;
  border: 2px solid #1f2937;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}

/* Add this animation to your global CSS */
@keyframes highlight-blink {
  0% { background-color: rgb(55, 65, 81); } /* bg-gray-700 */
  50% { background-color: rgb(48, 87, 123); } /* white */
  100% { background-color: rgb(55, 65, 81); } /* bg-gray-700 */
}

.highlight-animation {
  animation: highlight-blink 1s ease-in-out;
}

.calendar-grid-header div,
.calendar-grid-body div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-grid-body div {
  font-size: 0.75rem;
}

/* You can put this in your global styles or in a CSS module */
.calendar-timeslot-cell {
  &:hover .calendar-plus {
    opacity: 1 !important;
  }
}

@media (hover: none) and (pointer: coarse) {
  .calendar-timeslot-cell {
    .count-badge:empty {
      display: none;
    }
    .calendar-plus {
      opacity: 1 !important;
    }
  }
}

/******************************************************************************
        adjustable sizes for paddings / margins / gaps
*******************************************************************************/
:root {
  @for $i from 1 through 50 {
    --ai-full-#{$i}sp: calc(#{$i}rem/16);
  }

  --ai-scale-min: 0.35;
  --ai-scale: var(--ai-scale-min);
}

@for $i from 3 through 13 {
  @media (min-width: #{$i * 100}px) {
    :root { --ai-scale: calc( var(--ai-scale-min) + ( ( (#{$i * 100} - 300) / 1400 ) * ( 1 - var(--ai-scale-min) ) ) ); }
  }
}

@media (min-width: 1400px) {
  :root { --ai-scale: 1; }
}

:root {
  @for $i from 1 through 50 {
    --#{$i}sp: calc( var(--ai-scale) * var(--ai-full-#{$i}sp) );

    .px-#{$i}sp {
      padding-left: var(--#{$i}sp);
      padding-right: var(--#{$i}sp);
    }
    .mx-#{$i}sp {
      margin-left: var(--#{$i}sp);
      margin-right: var(--#{$i}sp);
    }
    .py-#{$i}sp {
      padding-top: var(--#{$i}sp);
      padding-bottom: var(--#{$i}sp);
    }
    .my-#{$i}sp {
      margin-top: var(--#{$i}sp);
      margin-bottom: var(--#{$i}sp);
    }
    .p-#{$i}sp {
      padding: var(--#{$i}sp);
    }
    .m-#{$i}sp {
      margin: var(--#{$i}sp);
    }
  }
}